<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
    <ul>
        <% for (let i = 0; i < lista.length; i++) { %>
            <li>
                Nombre: <%= lista[i].nombre =%> 
                Integrantes: <%= lista[i].integrantes =%>
                Genero: <%= lista[i].genero =%>
                TopCanciones: <%= lista[i].topCanciones =%>
                Cover: <%= lista[i].cover =%>
                Video: <%= lista[i].video =%>
            </li>
        <% } %>
     </ul>
</main>

<%- include('./partials/footer') %>