<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>
    <ul>
        <% for (let i = 0; i < lista.length; i++) { %>
            <a href="/<%= lista[i].id %>">
                <li>
                    <article>
                        <p>Nombre: <%= lista[i].nombre %></p>
                        <p>Integrantes: <%= lista[i].integrantes %></p>
                        <p>Genero: <%= lista[i].genero %></p>
                        <p>TopCanciones: <%= lista[i].topCanciones %></p>
                        <p>Cover: <%= lista[i].cover %></p>
                        <p>Video: <%= lista[i].video %></p>
                    </article>
                </li>
            </a>
        <% } %>
     </ul>
</main>

<%- include('./partials/footer') %>  